/* =================== google fonts ================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* =================== google fonts ================ */


:root{
    --rubik:"Poppins", serif;
}

/* ========== common css ============ */


.QrCodeGeneratorBox{
    width: 400px;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
   
    

}

.QrCodeGeneratorWrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.QrImage{
    width: 40%;
    height: 40%;
    transform: scale(0);
    transition: all linear .1s;
}

.title{
    font-family: var(--rubik);
    
    font-size: 24px;
    font-weight: 600;
    line-height: 10px;
    
}

.QrGeneratorButton{
    padding: 10px 22px;
    font-family: var(--rubik);
    background-color: red;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}